.root {
  background-color: #ffffff;
  padding: 120px 0 110px 0;
}

.content {
  max-width: 680px;
  margin: 0 auto;
}

.title {
  color: #424242;
  font-size: 34px;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.subtitle {
  color: #A1AEB6;
  font-size: 27px;
  font-weight: 300;
  line-height: 44px;
}
