
@import '../../styles/common';

.root {
  background-color: #ffffff;
  padding: 120px 0;
}

.infoSection {
  max-width: 680px;
  margin: 120px auto 0 auto;

  &:first-of-type {
    margin-top: 0;
  }

}

.title {
  color: #424242;
  font-size: 34px;
  font-weight: 400;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}

.details {
  list-style-type: none;
  font-size: 22px;
  font-weight: 300;

  > li {
    @extend .clearfix;
    margin-top: 20px;

    &:first-of-type {
      margin-top: 0;
    }

  }

}

.when {
  color: #A1AEB6;
  float: left;
  min-width: 210px;
  padding-right: 20px;
  line-height: 26px;
}

.info {
  overflow: hidden;
}

.infoTitle,
.infoSubtitle {
  font-size: 22px;
  line-height: 26px;
}

.infoTitle {
  color: #A1AEB6;
  font-weight: 400;
}

.infoSubtitle {
  color: #556165;
  font-weight: 500;
  margin-top: 7px;
}
