%general-max-width {
  max-width: 1200px;
}

%general-max-width-_centered {
  @extend %general-max-width;
  margin: 0 auto;
}

%content-medium-max-width-center {
  max-width: 1106px;
  margin: 0 auto;
}

.clearfix:after{
  display:block;visibility:hidden;clear:both;height:0;content:" ";font-size:0
}

* html .clearfix{
  -ms-zoom:1;zoom:1
}

*:first-child+html .clearfix{
  -ms-zoom:1;zoom:1
}
